<!DOCTYPE html>
<html>
<head>
    <title>Сброс пароля</title>
</head>
<body>
    <h1>Привет, {{ .Username }}!</h1>
    <p>Мы получили запрос на сброс пароля для вашего аккаунта.</p>
    <p>Чтобы сбросить пароль, перейдите по следующей ссылке:</p>
    <p><a href="{{ .ResetLink }}">Сбросить пароль</a></p>
    <p>Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.</p>
    <p>Срок действия ссылки истекает через 1 час.</p>
    <p>С заботой,<br>Команда поддержки</p>
</body>
</html>
